*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "DM Sans";
}

@font-face {
  font-family: "DM Sans";
  src: url(/assets/webfonts/DMSans-VariableFont_opsz\,wght.ttf);
}

img {
  max-width: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  padding: 0 4.2rem;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  position: relative;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.links:link,
.links:visited {
  text-decoration: none;
  color: #303030;
  transition: all 0.5s;
}

.links:hover,
.links:active {
  text-decoration: underline;
  color: #303030;
}

.link-list {
  padding-right: 2rem;
}

.link:link,
.link-visited {
  text-decoration: none;
  color: #fff;
}

.link:hover,
.link-active {
  text-decoration: none;
  color: #fff;
}

.contact-link {
  background-color: #155d48;
  text-align: center;
  padding: 0.5rem 1.3rem;
  border-radius: 10px;
  color: #fff;
}
.hand-menu {
  height: 50px;
  width: 50px;
  position: relative;
  display: none;
  /* background-color: #000; */
}

.hand-menu span {
  height: 5px;
  width: 100%;
  background-color: #000;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.hand-menu span:nth-child(1) {
  top: 25%;
}
.hand-menu span:nth-child(3) {
  top: 75%;
}
.hand-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hand-menu.active span:nth-child(2) {
  opacity: 0;
}

.hand-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* ********

   ****** HERO SECTION ******
********** */

.hero-section {
  padding: 4.8rem 0;
  background-color: #efefef;
  color: #efefef;
}

.hero--img {
  position: relative;
  width: 100%;
}

.hero-img-mobile {
  display: none;
}

.overlay-text {
  position: absolute;
  padding: 0 10rem 0 10rem;
  /* margin-top: 10rem; */
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  overflow: hidden;
}

.overlay-text h1 {
  font-size: 4rem;
}

.overlay-text p {
  font-size: 1.5rem;
}

.img-link:link,
.img-link:visited {
  color: #efefef;
  background-color: #155d48;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

/* ********
   ****** MISSION SECTION ******
********** */

.mission {
  background-color: #155d48;
  padding: 4.8rem 4rem;
  overflow: hidden;
}

.company--overview,
.company--overview-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.mb {
  margin-bottom: 4.8rem;
}
.header-secondary {
  font-size: 2rem;
  color: #efefef;
  margin-bottom: 2rem;
}

.company--overview-text {
  color: #efefef;
  font-size: 1.2rem;
  /* width: 30rem; */
  line-height: 1.5;
}

.mobile-img {
  display: none;
}

/*  Added a container css rule. if you use this to any container, it will give the container a width of 80% and max-width of 1200px to prevent overstretching of a conatiner on a larger screen */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Our services section */

.our-services {
  display: flex;
  justify-content: space-between;
}

.our-services-for-mobile {
  display: none;
}

.our-services-header h1,
.our-partners-header h1 {
  color: #303030;
  font-size: 2rem;
  margin-top: 8rem;
}

/* ///////////////////////////////////////////////////// */

/* Our partners section */

.our-partners {
  display: flex;
  justify-content: space-between;
}

.our-partners-for-moblie {
  display: none;
}

.our-partners-wrapper,
.our-services-header {
  padding: 2rem;
}

.our-partners-wrapper {
  background-color: #ffff;
}

.our-partners-header {
  margin-bottom: 3rem;
}

/* ///////////////////////////////////////////////////////// */
/* FOOTER SECTION */
footer {
  border: 3px solid red;
}
footer {
  margin-top: 1em;
}
.contact-info {
  margin: 1em 0;
}
.header-contact {
  font-size: 1.2em;
  padding: 1em 0;
}
.name,
.email,
.message {
  padding: 0 0 1em 0;
  font-size: 1em;
}
.input-name,
.input-email {
  margin-top: 0.5em;
  padding: 1em 0.5em;
  width: 100%;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
}
.input-message {
  margin-top: 0.5em;
  padding: 1em 0.5em 5em 0.5em;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b8b8b8;
}
.input-name::placeholder,
.input-email::placeholder,
.input-message::placeholder {
  color: #b8b8b8;
  font-size: 0.8em;
}
.btn-submit {
  background: var(--primary-primary-color, #155d48);
  color: #fff;
  font-family: DM Sans;
  width: 100%;
  padding: 0.3em 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.footer {
  margin-top: 2em;
  font-size: clamp(1em, 14px, 10px);
}
.footer-links {
  margin: 3em 0;
  display: grid; /* The links have to be 3 rows and 2 columns */
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  row-gap: 1em;
}
.footer a:link {
  color: #303030;
  text-decoration: none;
}
.footer a:visited {
  color: #303030;
}
.footer a:hover {
  text-decoration: underline;
}
.telephone,
.mail {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em 0;
}

/* ERROR STATE STYLING */
.error {
  color: salmon;
  font-style: italic;
  margin: 0.5em 0;
}
.error-border {
  border: 1px solid salmon;
}
.hidden {
  display: none;
}

/* ///////////////////////////////////////////////////////////// */

/* STYLING FOR MOBILE VIEW */

@media (max-width: 500px) {
  .our-partners,
  .our-services {
    display: none;
  }
  .our-services-header {
    padding-inline: 0px;
    margin-block: 3rem;
  }
  .our-services-for-mobile {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-bottom: 4rem;
  }
  .our-services-for-mobile .service1,
  .our-services-for-mobile .service2,
  .our-services-for-mobile .service3 {
    position: relative;
  }
  .our-services-for-mobile .service1 p,
  .our-services-for-mobile .service2 p,
  .our-services-for-mobile .service3 p {
    font-size: 1.8rem;
    color: #efefef;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1rem;
    left: 0.8rem;
  }
  .our-partners-wrapper {
    background-color: #ffff;
  }
  .our-partners-header h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .our-partners-for-moblie img,
  .our-services-for-mobile img {
    width: 100%;
  }
  .our-partners-for-moblie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 5rem;
  }
  .our-partners-wrapper,
  .our-services-header {
    padding: 0rem;
  }
}

/* STYLING FOR MOBILE VIEW */

@media (max-width: 500px) {
  .our-partners,
  .our-services {
    display: none;
  }
  .our-services-for-mobile {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-bottom: 8rem;
  }
  .our-partners-for-moblie img,
  .our-services-for-mobile img {
    width: 100%;
  }
  .our-partners-for-moblie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }
}

/* STYLING FOR SCREENS BIGGER THAN 500PX */
@media (min-width: 500px) {
  footer .container {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .footer {
    width: 50%;
  }
  .contact-info {
    width: 50%;
    order: 1;
  }
  .footer-logo {
    margin-bottom: 5em;
  }
  .footer-links {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
}

/* //////////////////////////////////////////////////////////// */

/* STYLING FOR TABLET VIEW */

/* STYLING FOR MOBILE VIEW */

@media (max-width: 500px) {
  .header {
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
  }
  .hero-section {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }
  .hero--img {
    display: none;
  }
  .hero-img-mobile {
    display: block;
    width: 100%;
  }

  .img-link {
    font-size: 1rem;
  }

  .mission {
    padding: 0 1rem;
  }

  .company--overview,
  .company--overview-2 {
    gap: 0;
  }

  .mb {
    margin-bottom: 2rem;
  }

  .our-partners,
  .our-services {
    display: none;
  }
  .our-services-header {
    padding-inline: 0px;
    margin-block: 3rem;
  }
  .our-services-for-mobile {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-bottom: 4rem;
  }
  .our-services-for-mobile .service1,
  .our-services-for-mobile .service2,
  .our-services-for-mobile .service3 {
    position: relative;
  }
  .our-services-for-mobile .service1 p,
  .our-services-for-mobile .service2 p,
  .our-services-for-mobile .service3 p {
    font-size: 1.8rem;
    color: #efefef;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1rem;
    left: 0.8rem;
  }
  .our-partners-wrapper {
    background-color: #ffff;
  }
  .our-partners-header h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .our-partners-for-moblie img,
  .our-services-for-mobile img {
    width: 100%;
  }
  .our-partners-for-moblie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 5rem;
  }
  .our-partners-wrapper,
  .our-services-header {
    padding: 0rem;
  }
}

/* //////////////////////////////////////////////////////////// */

/* STYLING FOR TABLET VIEW */

@media (max-width: 1024px) {
  .header {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
  }

  .nav-link {
    display: none;
  }

  .hand-menu {
    display: block;
  }
  .hero-section {
    padding: 1rem;
    margin-bottom: 2rem;
  }
  /* .hero--img {
    display: none;
  }
  .hero-img-mobile {
    display: block;
    width: 100%;
  } */

  .overlay-text {
    top: -28%;
    margin-top: 1rem;

    color: #efefef;
    padding: 0 0 0 2rem;
  }
  .overlay-text h1 {
    font-size: 2rem;
  }

  .overlay-text p {
    font-size: 1rem;
  }

  .mission {
    padding: 0 1rem;
  }

  .company--overview-text {
    width: 100%;
  }

  .company--overview,
  .company--overview-2 {
    display: flex;
    flex-direction: column;
    justify-items: start;
  }

  .company--overview-2 {
    flex-direction: column-reverse;
  }

  .header-secondary {
    margin-bottom: 1rem;
  }

  .company--overview img,
  .company--overview-2 img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .mb {
    margin-bottom: 2rem;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }

  .our-partners,
  .our-services {
    display: none;
  }
  .our-services-header {
    padding-inline: 0px;
    margin-block: 3rem;
  }
  .our-services-for-mobile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    align-items: center;
    margin-bottom: 4rem;
  }
  .our-services-for-mobile .service1,
  .our-services-for-mobile .service2,
  .our-services-for-mobile .service3 {
    position: relative;
  }
  .our-services-for-mobile .service1 p,
  .our-services-for-mobile .service2 p,
  .our-services-for-mobile .service3 p {
    font-size: 2rem;
    color: #efefef;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1rem;
    left: 0.8rem;
  }
  .our-partners-wrapper {
    background-color: #ffff;
  }
  .our-partners-header h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .our-partners-for-moblie img,
  .our-services-for-mobile img {
    width: 100%;
  }
  .our-partners-for-moblie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 5rem;
  }
  .our-partners-wrapper,
  .our-services-header {
    padding: 0rem;
  }
}
