*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header {
  display: flex;
  padding: 0 4.2rem;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.links:link,
.links:visited {
  text-decoration: none;
  color: #303030;
  transition: all 0.5s;
}

.links:hover,
.links:active {
  text-decoration: underline;
  color: #303030;
}

.link-list {
  padding-right: 2rem;
}

.link:link,
.link-visited {
  text-decoration: none;
  color: #fff;
}

.link:hover,
.link-active {
  text-decoration: none;
  color: #fff;
}

.contact-link {
  background-color: #155d48;
  text-align: center;
  padding: 0.5rem 1.3rem;
  border-radius: 10px;
  color: #fff;
}

/* ********

   ****** HERO SECTION ******
********** */

.hero-section {
  padding: 4.8rem 0;
  background-color: #efefef;
  color: #efefef;
}

.hero-img {
  display: flex;
  justify-content: center;
  position: relative;
}

.hero-img-mobile{
  display: none;
}



.overlay-text {
  position: absolute;
  padding: 0 10rem 0 10rem;
  top: 10%;
  left: 0;
}

.overlay-text h1 {
  font-size: 4rem;
}

.overlay-text p {
  font-size: 1.5rem;
}

.img-link:link,
.img-link:visited {
  color: #efefef;
  background-color: #155d48;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

/* ********
   ****** MISSION SECTION ******
********** */

.mission {
  background-color: #155d48;
  padding: 4.8rem 4rem;
  overflow: hidden;
}

.company--overview,
.company--overview-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.mb {
  margin-bottom: 4.8rem;
}
.header-secondary {
  font-size: 2rem;
  color: #efefef;
  margin-bottom: 2rem;
}

.company--overview-text {
  color: #efefef;
  font-size: 1.2rem;
  /* width: 30rem; */
  line-height: 1.5;
}

.mobile-img {
  display: none;
}

/*  Added a container css rule. if you use this to any container, it will give the container a width of 80% and max-width of 1200px to prevent overstretching of a conatiner on a larger screen */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Our services section */

.our-services {
  display: flex;
  justify-content: space-between;
}

.our-services-for-mobile {
  display: none;
}

.our-services-header h1,
.our-partners-header h1 {
  color: #303030;
  font-size: 2rem;
  margin-top: 8rem;
}

/* ///////////////////////////////////////////////////// */

/* Our partners section */

.our-partners {
  display: flex;
  justify-content: space-between;
}

.our-partners-for-moblie {
  display: none;
}

.our-partners-wrapper,
.our-services-header {
  padding: 2rem;
}

.our-partners-wrapper {
  background-color: #ffff;
}

.our-partners-header {
  margin-bottom: 3rem;
}

/* ///////////////////////////////////////////////////////// */

/* STYLING FOR MOBILE VIEW */

@media (max-width: 500px) {
  .hero--img{
    display: none;
  }
  .hero-img-mobile{
    display: block;
  }
  .overlay-text{
    margin-left: 2rem;
  }
  .overlay-text h1{
    margin-top: 2rem;
  }
.overlay-text p{
  margin-bottom: 2rem;
}

.img-link{
  font-size: 1rem;
}

  .our-partners,
  .our-services {
    display: none;
  }
  .our-services-header {
    padding-inline: 0px;
    margin-block: 3rem;
  }
  .our-services-for-mobile {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-bottom: 4rem;
  }
  .our-services-for-mobile .service1,
  .our-services-for-mobile .service2,
  .our-services-for-mobile .service3 {
    position: relative;
  }
  .our-services-for-mobile .service1 p,
  .our-services-for-mobile .service2 p,
  .our-services-for-mobile .service3 p {
    font-size: 1.8rem;
    color: #efefef;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1rem;
    left: 0.8rem;
  }
  .our-partners-wrapper {
    background-color: #ffff;
  }
  .our-partners-header h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .our-partners-for-moblie img,
  .our-services-for-mobile img {
    width: 100%;
  }
  .our-partners-for-moblie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 5rem;
  }
  .our-partners-wrapper,
  .our-services-header {
    padding: 0rem;
  }
}

/* //////////////////////////////////////////////////////////// */

/* STYLING FOR TABLET VIEW */

@media (max-width: 1024px) {
  .nav-link {
    display: none;
  }
  
  .overlay-text {
    /* top: ; */
    padding: 0 0 0 2rem;
  }
  .overlay-text h1 {
    font-size: 2rem;
  }

  .overlay-text p {
    font-size: 1rem;
  }

  .mission {
    padding: 0 0.1rem 0 0.1rem;
  }

  .company--overview-text {
    width: 100%;
  }

  .company--overview,
  .company--overview-2 {
    display: flex;
    flex-direction: column;
    justify-items: start;
  }

  .company--overview-2 {
    flex-direction: column-reverse;
  }

  .header-secondary {
    margin-bottom: 1rem;
  }

  .company--overview img,
  .company--overview-2 img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .mb {
    margin-bottom: 10rem;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }

  .our-partners,
  .our-services {
    display: none;
  }
  .our-services-header {
    padding-inline: 0px;
    margin-block: 3rem;
  }
  .our-services-for-mobile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    align-items: center;
    margin-bottom: 4rem;
  }
  .our-services-for-mobile .service1,
  .our-services-for-mobile .service2,
  .our-services-for-mobile .service3 {
    position: relative;
  }
  .our-services-for-mobile .service1 p,
  .our-services-for-mobile .service2 p,
  .our-services-for-mobile .service3 p {
    font-size: 2rem;
    color: #efefef;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1rem;
    left: 0.8rem;
  }
  .our-partners-wrapper {
    background-color: #ffff;
  }
  .our-partners-header h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .our-partners-for-moblie img,
  .our-services-for-mobile img {
    width: 100%;
  }
  .our-partners-for-moblie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 5rem;
  }
  .our-partners-wrapper,
  .our-services-header {
    padding: 0rem;
  }
}
